@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import "basics/nav.css";
@import "basics/main-user.css";
@import "basics/bottom-nav.css";
@import "basics/find-icon.css";
@import "basics/over-screen.css";
@import "basics/header.css";

@import "screens/logins.css";
@import "screens/friend-list.css";
@import "screens/chats.css";
@import "screens/chat.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/loading.css";
@import "screens/sana-chat.css";

body {
  color: #fefefe;
  background: radial-gradient(#fc5d9d, #f9c596);
  font-family: "Balsamiq Sans", cursive;
  height: 180vh;
}

a {
  color: inherit;
  text-decoration: none;
}
